body {
    background-image: url(images/space_bgkr.jpg);
    background-size: cover;
    background-attachment: fixed;

}

#name, #email, #phone {
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

#email,#phone {
    margin-top: 80px;
}

#name {
    padding-top: 50px;
}

#main-content {
    margin-top: 30px;
}

#header {
    background-image: url(images/black_sand.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.row{
    width: 100%;
}

#links {
    margin-bottom: 20px;
    padding: 30px;
    background-image: url(images/pink_bubble.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 30px;
}

#projects {
    border-radius: 30px;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.project-title {
    color: white;
}

#proj-header {
    text-align: center;
    color: white;
}

#project-2, #project-1, #project-3, #project-4, #project-5 {
    margin-bottom: 30px;
    padding: 20px;
    padding-right: 0px;
    border-radius: 30px;
    background-image: url(images/red_roses.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.project-preview {
    max-width: 80%;
    margin-left: 8%;
}
